.root {
  position: relative;
  width: 30px;
  height: 30px;
  align-items: flex-start;
  overflow: hidden;
  }
.vector {
  position: relative;
  left: 29.1667%;
  right: 30.6644%;
  top: 12.5%;
  bottom: 12.5%;
  overflow: visible;
}
.icon {
  height: 10%;
  width: 4%;
  cursor: pointer;
}
