.root {
  position: relative;
  width: 38px;
  height: 30px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 12.5%;
  right: 12.4833%;
  top: 12.5%;
  bottom: 12.5%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  cursor: pointer;
}
