.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 12.1667%;
  bottom: -33.9292%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
