.root {
  position: relative;
  width: 30px;
  height: 30px;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 12.1667%;
  bottom: -33.9292%;
  overflow: visible;
}
.icon {
  height:60%;
  width:60%;
  cursor: pointer;
}
