.root {
  position: relative;
  width: max-content;
  height: max-content;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: fixed;
  justify-content: top;
  align-items: start;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow: visible;
}
.icon {
  width: 50px;
  height: 50px;
}

.bottomIcon {
  width: 130px;
  height: 32px;
}

.vector2 {
  position: relative;
  left: 20.8333%;
  right: 20.8333%;
  top: 50%;
  bottom: 50%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: relative;
  left: 45.8333%;
  right: 20.8333%;
  top: 29.1667%;
  bottom: 70.8333%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}

.openMenu {
  position:fixed;
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  width: max-content;
  height: max-content;
  align-items: flex-start;
  padding: 15px;
  overflow: hidden;
}
